.posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .postsTitle {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .postsAll {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: var(--primary-color);
      padding: 5px;
      border-radius: 5px;

      &:hover {
        transition: 0.1s;
        text-shadow: 0 0 24px #ff3333;
        cursor: pointer;
      }
    }
  }

  ul {
    width: 95%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: #ccc;
        width: 100%;
        height: 1px;
        top: 100%;
      }

      .postImg {
        width: 60px;
        height: 70px;
      }

      .postsContent {
        color: white;
        width: 85%;
        .postTitle {
          font-size: 18px;
          font-weight: 600;
        }

        .postDesc {
          font-size: 14px;
          color: #7d7d7d;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* số dòng hiển thị */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
