.swiper-button-prev,
.swiper-button-next {
  color: #ccc;
  background-color: white;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: 0.1s linear;
  border: 1px solid #ccc;
  top: 8% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  width: 30px !important;
  height: 30px !important;
  color: var(--primary-color);
  border: 1px solid #ccc;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
}
