:root {
  --primary-color: #00cccc;
  --background-color: #151414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  background-image: url("../assets/images/background.jpg");
  overflow: hidden;
  overflow-y: overlay;
}

.link {
  text-decoration: none;
  color: inherit;
}

.errorTitle {
  font-size: 16px;
  color: white;
  text-align: center;
}

.errorWrap {
  text-align: center;
}

.mainTitle {
  color: white;
  font-size: 20px;
}

.main-container {
  margin: 30px 0;
}
