:root {
  --primary-color: #00cccc;
  --background-color: #151414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  background-image: url("../assets/images/background.jpg");
  /* overflow: hidden; */
  overflow-y: overlay;
}

.link {
  text-decoration: none;
  color: inherit;
}

.errorTitle {
  font-size: 20px;
  color: white;
  text-align: center;
}

.errorWrap {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorTitleLink:hover {
  color: var(--primary-color);
}

.mainTitle {
  color: white;
  font-size: 20px;
}

.main-container {
  margin: 50px 0;
}

.home {
  background-color: var(--background-color);
}
