@media (max-width: 739px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
  .headerContent {
    .phoneButton {
      display: block;
      font-size: 40px;
      color: white;
    }

    .buttonCheckbox:checked ~ .navbar {
      display: block;
    }

    .headerLogo {
      img {
      }
    }
  }
}
