@media (max-width: 739px) {
  .header {
    .headerContent {
      .inputIcon {
        width: 20%;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        padding: 5px;
      }

      .headerInput {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
      }
    }
  }
}
