@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: 70px;
    .headerLogo {
      width: 100%;
      img {
        width: 100%;
        height: 70px;
      }
    }

    .headerInput {
      margin: 0;
      width: 80%;
      height: 60px;

      input {
        width: 100%;
        position: absolute;
        top: 0;
        width: 80%;
        transform: translateY(-250%);
        transition: 0.5s;
      }

      .headerSearchCheckbox {
        &:checked {
          ~ input {
            transform: translateY(0);
            transition: 0.5s;
          }

          ~ .overlay {
            display: block;
          }
        }
      }

      .headerSearchCheckboxLogo {
        display: block;
        width: 30px;
        height: 30px;
        right: 6%;
        top: 100%;
        position: absolute;
        font-size: 40px;
        color: white;
      }
    }

    .headerButton {
      display: none;
    }
  }

  .scroll {
    display: none;
  }
}
