.navbar {
  display: flex;
  height: 100%;
  width: 50%;

  .navbarListIcon {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
  }

  .headerLogo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    img {
      width: 216px;
      height: 40px;
    }
  }

  .phoneButton {
    display: none;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 40px;
    margin-left: 20px;
  }

  .navbarList {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    .navbarListCloseIcon {
      color: white;
      font-size: 20px;
      position: absolute;
      top: -8px;
      right: -10px;
      display: none;
    }

    .navbarItems {
      -webkit-user-select: none;
      user-select: none;
      -ms-user-select: none;
      &:first-child {
        margin-left: 30px;
      }
      &:hover {
        ul {
          display: flex;
        }
      }

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: white;
      width: 130px;
      cursor: pointer;

      position: relative;

      div {
        span {
          i {
            margin-right: 10px;
          }
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .navbarItemsLink {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div,
      .navbarItemsLink {
        &:hover {
          transform: scale(1.1);
          text-shadow: 0 0 10px #00ffff;
          font-weight: 500;
          transition: 0.3s;
        }
      }

      ul {
        list-style: none;
        position: absolute;
        top: 100%;
        background-color: #151414;
        z-index: 999;
        display: none;
        flex-wrap: wrap;
        left: 0;
        width: 460px;
        font-size: 14px;
        border: 1px solid #333;

        &:hover {
          display: flex;
        }

        li {
          -webkit-user-select: none;
          user-select: none;
          -ms-user-select: none;
          width: 112px;
          height: 60px;
          background-color: var(--background-color);
          color: white;
          .gach {
            display: none;
          }
          .link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:hover {
            transform: scale(1.1);
            text-shadow: 0 0 20px #00ffff;
            box-shadow: 0 0 20px -1px #00ffff;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
