.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;

  h3 {
    color: white;
    margin-bottom: 30px;
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .videoServer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    button {
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid black;
      background-color: transparent;
      color: white;
      margin: 5px;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
      transition: 0.5s;

      &:hover {
        border: 1px solid #00ffff;
        color: #00ffff;
      }
    }
    .active {
      box-shadow: 0 0 10px #00ffff;
      color: #00ffff;
    }
  }

  span {
    font-size: 16px;
    color: white;
    font-weight: 500;
  }

  .singleMovieEp {
    margin-top: 30px;
    border-radius: 30px;
    padding: 20px;
    background-color: #003333;
    display: flex;
    flex-wrap: wrap;
    width: 835px;

    .ep {
      cursor: pointer;
      background-color: #003366;
      border: none;
      padding: 14px;
      margin: 14px;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 5px;
    }

    .epActive {
      border: 1px solid #00ffff;
      box-shadow: 0 0 10px #00ffff;
    }
  }
}
