.footer {
  .footerTag {
    margin-top: 50px;
    font-size: 12px;
    width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #003333;
    border-radius: 30px;
    padding: 20px;
    color: #ddd;
  }
}
