.infoMovie {
  .infoMovieCard {
    margin-top: 30px;
    background-color: var(--background-color);

    .infoMovieTop {
      padding-left: 15px;
      display: flex;
      align-items: start;
      padding-top: 20px;
      justify-content: space-between;

      .leftWrap {
        width: 205px;
        position: relative;

        &:hover {
          img {
            opacity: 0.5;
          }
          .infoMovieIcon {
            display: block;
          }
        }
        img {
          width: 100%;
          height: 285px;
          object-fit: cover;
          cursor: pointer;
        }

        .infoMovieWatch {
          background-color: var(--primary-color);
          cursor: pointer;
          border: none;
          padding: 10px;
          margin-top: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 16px;
        }

        .infoMovieIcon {
          position: absolute;
          color: white;
          top: 43%;
          transform: translateY(-50%);
          left: 40%;
          cursor: pointer;
          font-size: 50px;
          display: none;
        }
      }

      .infoMovieContent {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        .infoMovieName {
          font-size: 30px;
          color: #00ccff;
        }

        .infoMovieDescTitle {
          margin-top: 20px;
        }
        .infoMovieDesc {
          padding: 20px 0;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            display: block;
            color: rgba(255, 255, 255, 0.835);
            font-weight: 500;
            font-size: 15px;
            text-align: justify;

            letter-spacing: 0.5px;
          }
        }
      }

      .infoMovieInfo {
        div {
          padding: 5px;
          font-weight: 500;

          .infoMovieInfoText {
            border-bottom: 1px solid #333;
            display: flex;
            align-items: center;
            span {
              &:first-child {
                color: #c7c7c7;
                width: 230px;
              }

              &:last-child {
                width: calc(100% - 230px);
                color: #3399ff;
              }
            }
          }
        }
      }
    }
  }
}

.infoMovieVideo {
  background-color: #003333;
  border-radius: 30px;
  margin-top: 50px;
}
