@media (min-width: 740px) and (max-width: 1023px) {
  .infoMovieDesc {
    padding: 20px 10px;
  }
}

@media (max-width: 739px) {
  .infoMovieTop {
    padding: 0 15px !important;
    .leftWrap {
      img {
        height: 500px !important;
      }
    }
    .infoMovieContent {
      padding-left: 0 !important;
      .infoMovieName {
        margin-top: 20px;
        padding-left: 0;
      }
    }

    .infoMovieInfo {
      div {
        .infoMovieInfoText {
          border-bottom: 1px solid #333;
          display: flex;
          align-items: center;
          span {
            &:first-child {
              color: #c7c7c7;
              width: 190px !important;
            }

            &:last-child {
              width: calc(100% - 190px) !important;
              color: #3399ff;
            }
          }
        }
      }
    }
  }
}
