@media (min-width: 1024px) and (max-width: 1239px) {
  .movieList {
    margin: 60px auto 0;
  }
}

@media (max-width: 739px) {
  .movieList {
    .movieListTitle {
      h2 {
        font-size: 16px !important;
      }

      .linkList {
        font-size: 12px;
      }
    }
    width: 100%;
  }
}
